# General Gateway & Auth Defaults
SECRET_KEY=localaws-dev-secret
MAIN_PORT=4566

# Gateway PostgreSQL Database Settings
DB_HOST=localhost
DB_NAME=localaws
DB_USER=localaws
DB_PASSWORD=localaws

# IAM Service Settings
IAM_URL=http://miniiam:4568
IAM_PORT=4568
IAM_DB_HOST=iamdb
IAM_DB_NAME=localawsiam
IAM_DB_USER=localawsiam
IAM_DB_PASSWORD=localawsiam

# EC2 Service Settings
EC2_PORT=4567

# Lambda Service Settings
LAMBDA_URL=http://minilambda:4569
LAMBDA_PORT=4569
HOST_FUNCTIONS_DIR=./functions
